html {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}


body {
    background-color: white;
    width: 60%;
    margin: 0 auto;
}

#happy-face-logo {
    float: left;
    width: 100px;
    height: 100px;
    padding: 20px 50px 20px 50px;
    border: 2px black solid;
}

#title {
    text-align: center;
    border: 2px black solid;
}

#mad-libs-logo {
    width: 230px;
    height: 58px;
    margin-top:13px;
}

#title h1 {
    font-weight: 900;
    font-size: 2.5em;
    margin-top:-12px;
    margin-bottom: 27px;
}

h1#heading {
    margin-left: 50px;
}

form {
    margin-left: 75px;
}

input {
    margin: 5px 10px 5px 10px;
    padding: 5px 10px 5px 10px;
}

section.mad-lib-text {
    border: 2px black solid;
    padding-top: 20px;
    padding-bottom: 50px;
}

section.mad-lib-text p {
    padding: 0px 50px 0px 50px;
}

.error-messages {
    color: red;
}

button#submit {
    margin-left: 512px;
    margin-top: 5px;
}

button#reset {
    margin-left:685px;
    margin-top:30px;
}

#line {
    margin-right: 80px;
}

#header{
    overflow: hidden;
    height: 300px;
    transition: all 1s linear;
    border: 2px black solid;
}

#footer{
    transition: all 1s linear;
    overflow: hidden;
    height: 300px;
    border: 2px black solid;
}

section#footer p {
    margin: 30px 30px 5px 30px;
}

#header.ng-hide, #footer.ng-hide {
    height: 0px;
}

#header.ng-hide-remove, #footer.ng-hide-remove {
    transition-delay: 1s;
}